* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #e5e5e5;
}
.header {
  display: flex;
  color: white;
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}
.header--image {
  height: 100%;
  margin-right: 6px;
}
.header--title {
  margin-right: auto;
  font-size: 1.25rem;
}
.header--project {
  margin-left: auto;
  font-size: 0.75;
  font-weight: 500;
}
.meme--body {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
}
main {
  padding: 35px;
}
.meme--button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}
.meme--inputs {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
}
.meme--image {
  max-width: 100%;
}
